.logo img {
    max-width: 140px;
    height: auto;
}

@media(max-width: 800px){
    .logo img {
        display: block;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 10px
    }
}